<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EMST"
         connectionString="Server=UMCESIDB02;Database=GPTPoCDB;User Id=GPTPoCDBUser;Password=DB02.2026;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="AiGatewayUrl" value="http://10.11.197.97/openai/deployments/gpt-5.2/chat/completions" />
    <add key="AiApiKey" value="008cf409-0994-5a1b-608f-42cbe1b5389b" />
    <add key="AiUserId" value="00042507" />
    <add key="AiSystemPrompt" value="你是設備工程小助手,協助使用者查詢與整理 defect lesson learn。回答請精簡、條列重點。" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="51200" executionTimeout="120" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
